.first-movie-section {
    height: 450px;
}

.desk-menu-icons {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    margin-right: 0;
}

.option-item {
    margin-right: .2em;
}

.drop-down-list-box {
    left: -55px;
}

.header-list .selected-item {
    padding: 0.4em;
}

.movie-container {
    grid-template-rows: 227px;
    grid-auto-columns: 125px;
}

#js-cast-movies.movie-container {
    grid-template-rows: 242px;
}

.movie-image {
    height: 187px;
}

.query-list-img {
    height: 75px;
}