
.icon-facebook, .icon-instagram, .icon-twitter {
    width: 2em;
    height: 2em;
}

.icon-movies, .icon-tv, .icon-favorite-menu, .icon-user, .icon-log-out {
    color: #AAA;
}

.selected-item .icon-movies {
    color: #FFF;
}

.icon-star {
    width: 1em;
    height: 1em;
}