:root {
    --main-dark: #000;
    --main-red: #c70106;
    --main-yellow: #fbe337;
    --white: #FFF;
    --second-dark: #1b1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--main-dark);
}

.header-section {
    box-shadow: 0px 0px 7px #777;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    color: var(--white);
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    z-index: 1;
    transition: transform .2s;
}

.first-movie-section, .movie-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.movie-search-items {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-auto-rows: 175px;
    grid-gap: 10px;
    margin-bottom: 1.5em;
}

.first-movie-section {
    height: 350px;
    background-color: #22276b;
}

.general-section {
    margin: 0 1.5em;
}

.tittle-section, .first-tittle {
    margin-bottom: .5em;
    color: var(--white);
}

.first-tittle {
    margin: .5em 0;
}

.movie-container {
    display: grid;
    grid-template-rows: 175px;
    grid-auto-columns: 90px;
    grid-auto-flow: column;
    grid-gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

/* .movie-info:hover {
    transform: scale(1.2);
} */

.movie-image {
    height: 132px;
    background-color: #22276b;
    position: relative;
}

.movie-text {
    display: flex;
    justify-content: space-between;
    height: 40px;
    font-size: .8rem;
    color: var(--white);
    background-color: #222;
    padding: 0.6em;
}

.movie-name { /* fixing the overflow text problem */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.movie-rate {
    font-size: 1.2rem;
    color: var(--main-yellow);
    display: inline-block;
    margin: 0.2em;
    text-align: center;
    max-width: 17px;
}

.movie-container::-webkit-scrollbar {
    width: 0;
}

.menu-tab {
    position: fixed;
    width: 90vw;
    height: 100vh;
    padding: 2em 3em;
    transform: translateX(-90vw);
    transition: transform .2s;
    color: var(--white);
    background-color: var(--second-dark);
    z-index: 2;
}

.visible {
    transform: translateX(0vw);
}

.no-scroll {
    overflow: hidden;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
}

.menu-tittle {
    color: var(--main-red);
    font-size: 2.5rem;
}

.menu-second-tittle {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.menu-category {
    font-size: 1.5rem;
    margin-top: 2em;
}

.list-category {
    list-style: none;
    max-height: 30vh;
    overflow-x: scroll;
}

.social-items {
    height: 18vh;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.category-item {
    margin: .2em;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #555;
    padding: 0.2em;
    border-radius: 5px;
    font-size: 1.3rem;
    color: #aaa;
}

.category-item:hover {
    color: var(--white);
    border: 1px solid var(--white);
}

.menu-user {
    width: 100%;
    height: 30vh;
    margin-top: 2em;
}

.menu-user-info {
    display: flex;
}

.menu-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1em;
    border: 3px solid rgb(224 211 211 / 70%);
 }

.menu-avatar__text {
    display: flex;
    align-items: center;
}

.menu-user__greeting {
    font-size: 1.2rem;
}

.menu-user__name {
    font-size: 1.5rem;
}

.menu-user__item {
    font-size: 1.5rem;
    margin: 0.5em;
    display: inline-block;
}

.menu-user__container {
    display: flex;
    color: #aaa;
    text-decoration: none;
    margin: 0.5em 0;
}

.copyright-text {
    display: flex;
    justify-content: center;
}

.selected-item {
    color: var(--white);
}

.header-hidden {
    transform: translateY(-50px);
}

.search-container {
    width: 90%;
    height: 80%;
    background-color: rgb(47 47 47 / 80%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
}

.search-input {
    width: 75%;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: var(--white);
}

.search-input::placeholder {
    color: #c7c7c7;
}

.search-input:focus-visible {
    outline: none;
}

.hide-element {
    display: none;
}

.no-link-style {
    text-decoration: none;
    color: var(--white);
}

.wrapper {
    min-height: 100vh;
}

.not-found-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
