:root {
    --main-dark: #000;
    --main-red: #f24343;
    --main-yellow: #fbe337;
    --white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--main-dark);
}

.header-section {
    border-bottom: 1px solid;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    color: var(--white);
}

.first-movie-section, .movie-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-movie-section {
    height: 300px;
}

.general-section {
    margin: 0 1.5em;
}

.tittle-section, .first-tittle {
    margin-bottom: .5em;
    color: var(--white);
}

.first-tittle {
    margin: .5em 0;
}

.movie-container {
    display: grid;
    grid-template-rows: 160px;
    grid-auto-columns: 90px;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.movie-image {
    height: 132px;
}

.movie-text {
    display: flex;
    justify-content: space-between;
    height: 25px;
    font-size: .8rem;
    color: var(--white);
}

.movie-rate {
    font-size: 1.2rem;
    color: var(--main-yellow);
    display: inline-block;
    margin: 0.2em;
}

.movie-container::-webkit-scrollbar {
    width: 0;
}