.first-movie-section {
    height: 450px;    
}

.movie-container {
    grid-template-rows: 205px;
    grid-auto-columns: 110px;
}

#js-cast-movies.movie-container {
    grid-template-rows: 220px;
}

.movie-image {
    height: 165px;
}

.query-list-img {
    height: 75px;
}

.query-list {
    grid-template-columns: 60px 280px;
}

.tittle-section, .first-tittle {
    font-size: 1.8rem;
}

.movie-search-items {
    grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
}

.season-container {
    grid-template-rows: 175px;
    grid-auto-columns: 275px;
}

.season-item {
    grid-template-columns: 115px 160px;
    grid-template-rows: 175px;
}

.release-info {
    font-size: 1.5rem;
}

.btn-trailer {
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    padding: 0.2em;
    width: 40px;
    height: 40px;
}

.icon-play {
    width: 2.5em;
    height: 2.5em;
}

.youtube-container {
    top: calc(50% - 107px);
    left: calc(50% - 213px);
}

.youtube-video {
    height: 214px;
    width: 426px;    
}

.not-found-image {
    width: 300px;
    height: 300px;
}